@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: var(--font-jost);
  scroll-behavior: smooth;
}
.font-alt {
  font-family: var(--font-cedarville-cursive);
}
.error-toast {
  background-color: hsl(var(--destructive)) !important;
  color: white;
  border-radius: var(--radius);
}
.ql-toolbar {
  border-radius: 0.25rem 0.25rem 0 0 !important;
}
.ql-container {
  border-radius: 0 0 0.25rem 0.25rem !important;
}
.ql-editor {
  min-height: 80px !important;
}
@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 3.9%;
    --card: 0, 0%, 100%;
    --card-foreground: 0, 0%, 3.9%;
    --popover: 0, 0%, 100%;
    --popover-foreground: 0, 0%, 3.9%;
    --primary: 0, 100%, 50%;
    --primary-foreground: 0, 0%, 98%;
    --secondary: 340, 1%, 53%;
    --secondary-foreground: 0, 0%, 9%;
    --muted: 0, 0%, 96.1%;
    --muted-foreground: 0, 0%, 45.1%;
    --accent: 0, 0%, 96.1%;
    --accent-foreground: 0, 0%, 9%;
    --destructive: 0, 84.2%, 60.2%;
    --destructive-foreground: 0, 0%, 98%;
    --border: 0, 0%, 89.8%;
    --input: 0, 0%, 89.8%;
    --ring: 0, 0%, 3.9%;
    --chart-1: 12, 76%, 61%;
    --chart-2: 173, 58%, 39%;
    --chart-3: 197, 37%, 24%;
    --chart-4: 43, 74%, 66%;
    --chart-5: 27, 87%, 67%;
    --radius: 0.3rem;
    --font-size-sm: clamp(0.8rem, 0.13vi + 0.77rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.26vi + 0.93rem, 1.19rem);
    --font-size-lg: clamp(1.25rem, 0.47vi + 1.13rem, 1.58rem);
    --font-size-xl: clamp(1.56rem, 0.77vi + 1.37rem, 2.11rem);
    --font-size-2xl: clamp(1.95rem, 1.21vi + 1.65rem, 2.81rem);
    --font-size-3xl: clamp(2.44rem, 1.84vi + 1.98rem, 3.75rem);
    --font-size-4xl: clamp(3.05rem, 2.74vi + 2.37rem, 5rem);
    --font-size-5xl: clamp(3.81rem, 4.01vi + 2.81rem, 6.66rem);
    --font-size-6xl: clamp(4.77rem, 5.79vi + 3.32rem, 8.88rem);
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0, 0%, 9%;
    --foreground: 0, 0%, 98%;
    --card: 0, 0%, 3.9%;
    --card-foreground: 0, 0%, 98%;
    --popover: 0, 0%, 3.9%;
    --popover-foreground: 0, 0%, 98%;
    --muted: 0, 0%, 14.9%;
    --muted-foreground: 0, 0%, 63.9%;
    --accent: 0, 0%, 14.9%;
    --accent-foreground: 0, 0%, 98%;
    --destructive: 0, 62.8%, 30.6%;
    --destructive-foreground: 0, 0%, 98%;
    --border: 0, 0%, 14.9%;
    --input: 0, 0%, 14.9%;
    --ring: 0, 0%, 83.1%;
    --chart-1: 220, 70%, 50%;
    --chart-2: 160, 60%, 45%;
    --chart-3: 30, 80%, 55%;
    --chart-4: 280, 65%, 60%;
    --chart-5: 340, 75%, 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  body {
    @apply bg-background overflow-x-hidden text-foreground selection:bg-primary selection:text-primary-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }

  body {
    @apply bg-background text-foreground cursor-none;
  }
  .container {
    @apply px-4 md:px-6 lg:px-8 xl:px-12 2xl:px-28 mx-auto;
  }

  .carousel {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }

  .list {
    height: 100%;
    width: 100%;
  }

  .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
  }

  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
  }

  .thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 49;
    display: flex;
    gap: 20px;
  }

  .thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
  }

  .thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .thumbnail .item .content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }

  .thumbnail .item .content .title {
    font-weight: 500;
  }

  .thumbnail .item .content .description {
    font-weight: 300;
  }

  .arrows button:hover {
    background-color: #fff;
    color: #000;
  }

  .carousel.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
  }
  .carousel.prev .list .item img {
    z-index: 100;
  }
  @keyframes showThumbnail {
    from {
      width: 0;
      opacity: 0;
    }
  }
  .carousel.next .thumbnail {
    animation: effectNext 0.5s linear 1 forwards;
  }

  @keyframes effectNext {
    from {
      transform: translateX(150px);
    }
  }

  /* running time */

  .carousel .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
  }

  .carousel.next .time,
  .carousel.prev .time {
    animation: runningTime 3s linear 1 forwards;
  }
  @keyframes runningTime {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  /* prev click */

  .carousel.prev .list .item:nth-child(2) {
    z-index: 2;
  }

  .carousel.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  @keyframes outFrame {
    to {
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
    }
  }

  .carousel.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
  }
  .carousel.next .arrows button,
  .carousel.prev .arrows button {
    pointer-events: none;
  }
  .carousel.prev .list .item:nth-child(2) .content .author,
  .carousel.prev .list .item:nth-child(2) .content .title,
  .carousel.prev .list .item:nth-child(2) .content .topic,
  .carousel.prev .list .item:nth-child(2) .content .des,
  .carousel.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards !important;
  }

  @keyframes contentOut {
    to {
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
    }
  }
  @media screen and (max-width: 678px) {
    .carousel .list .item .content {
      padding-right: 0;
    }
    .carousel .list .item .content .title {
      font-size: 30px;
    }
  }

  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Preloader */
  .pace {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99999999999999;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    border: 0px;
    height: 1px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .pace .pace-progress {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 300px;
    position: fixed;
    z-index: 99999999999999;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #c5a47e;
  }

  .pace.pace-inactive {
    width: 100vw;
    opacity: 0;
  }
  .pace.pace-inactive .pace-progress {
    max-width: 100vw;
  }

  #preloader {
    width: 100%;
    height: 100vh;
    top: 0;
    overflow: hidden;
    position: fixed;
    z-index: 9999999;
  }
  #preloader:after,
  #preloader:before {
    content: "";
    position: fixed;
    left: 0;
    height: 50vh;
    width: 100%;
    background: hsla(var(--background));
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  #preloader:before {
    top: 0;
  }
  #preloader:after {
    bottom: 0;
  }
  #preloader.isdone {
    visibility: hidden;
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
  }
  #preloader.isdone::after,
  #preloader.isdone::before {
    height: 2px;
    -webkit-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
    -o-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
    transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
  }

  .loading-text {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: hsla(var(--primary));
    font-family: "Teko", sans-serif;
    z-index: 9999;
  }
  .loading-text.isdone {
    top: 50%;
    opacity: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }

  .mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
  }

  .cursor-outer {
    margin-left: -15px;
    margin-top: -15px;
    width: 40px;
    height: 40px;
    border: 1px solid hsla(var(--primary));
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000000;
    opacity: 0.5;
    -webkit-transition: all 0.08s ease-out;
    -o-transition: all 0.08s ease-out;
    transition: all 0.08s ease-out;
  }

  .cursor-inner {
    margin-left: 2px;
    margin-top: 2px;
    width: 6px;
    height: 6px;
    z-index: 10000001;
    background-color: hsla(var(--primary));
    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
      margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
      margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
      margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .carousel .item:nth-child(1) {
    z-index: 1;
  }

  .carousel .item:nth-child(1) .content .author,
  .carousel .item:nth-child(1) .content .title,
  .carousel .item:nth-child(1) .content .topic,
  .carousel .item:nth-child(1) .content .des,
  .carousel .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
  }

  @keyframes showContent {
    to {
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  .carousel .item:nth-child(1) .content .title {
    animation-delay: 1.2s !important;
  }

  .carousel .item:nth-child(1) .content .topic {
    animation-delay: 1.4s !important;
  }

  .carousel .item:nth-child(1) .content .des {
    animation-delay: 1.6s !important;
  }

  .carousel .item:nth-child(1) .content .buttons {
    animation-delay: 1.8s !important;
  }

  .carousel.next .list .item:nth-child(1) img {
    width: 100%;
    height: 100%;
    opacity: 0;

    animation: showImage 0.5s linear 1 forwards;
  }

  @keyframes showImage {
    to {
      opacity: 1;
    }
  }

  .carousel.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail 0.5s linear 1 forwards;
  }

  .carousel.prev .list .item img {
    z-index: 100;
  }

  @keyframes showThumbnail {
    from {
      width: 0;
      opacity: 0;
    }
  }

  .carousel.next .thumbnail {
    animation: effectNext 0.5s linear 1 forwards;
  }

  @keyframes effectNext {
    from {
      transform: translateX(150px);
    }
  }

  .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
  }

  .carousel.next .time,
  .carousel.prev .time {
    animation: runningTime 3s linear 1 forwards;
  }

  @keyframes runningTime {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  .carousel.prev .list .item:nth-child(2) {
    z-index: 2;
  }

  .carousel.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @keyframes outFrame {
    to {
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
    }
  }

  .carousel.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
  }

  .carousel.next .arrows button,
  .carousel.prev .arrows button {
    pointer-events: none;
  }

  .carousel.prev .list .item:nth-child(2) .content .author,
  .carousel.prev .list .item:nth-child(2) .content .title,
  .carousel.prev .list .item:nth-child(2) .content .topic,
  .carousel.prev .list .item:nth-child(2) .content .des,
  .carousel.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards !important;
  }

  @keyframes contentOut {
    to {
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
    }
  }

  @media screen and (max-width: 678px) {
    .content {
      padding-right: 0;
    }
    .title {
      font-size: 30px;
    }
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
